<%
<
%
 
d
a
t
e
t
i
m
e
_
f
o
r
m
a
t
 
=
 
c
u
r
r
e
n
t
_
a
c
c
o
u
n
t
.
d
a
t
e
_
t
y
p
e
(
:
s
h
o
r
t
_
d
a
y
_
w
i
t
h
_
t
i
m
e
)
;


i
f
 
a
p
p
r
o
v
a
l
.
p
r
e
s
e
n
t
?
 
&
&
 
a
p
p
r
o
v
a
l
.
a
p
p
r
o
v
a
l
_
s
t
a
t
u
s
 
=
=
 
I
t
i
l
:
:
A
p
p
r
o
v
a
l
:
:
A
P
P
R
O
V
A
L
_
K
E
Y
S
_
B
Y
_
T
O
K
E
N
[
:
p
e
e
r
_
r
e
s
p
o
n
d
e
d
]
;


a
p
p
r
o
v
a
l
T
y
p
e
 
=
 
I
t
i
l
:
:
A
p
p
r
o
v
a
l
:
:
A
P
P
R
O
V
A
L
_
T
Y
P
E
_
N
A
M
E
S
_
B
Y
_
K
E
Y
[
a
p
p
r
o
v
a
l
.
a
p
p
r
o
v
a
l
_
t
y
p
e
]
.
t
o
_
s
y
m
;


i
f
 
f
i
r
s
t
_
r
e
s
p
o
n
d
e
r
.
p
r
e
s
e
n
t
?
 
&
&
 
f
i
r
s
t
_
r
e
s
p
o
n
d
e
r
.
a
p
p
r
o
v
a
l
_
s
t
a
t
u
s
.
p
r
e
s
e
n
t
?
;


f
i
r
s
t
R
e
s
p
o
n
d
e
r
A
p
p
r
o
v
a
l
S
t
a
t
u
s
 
=
 
I
t
i
l
:
:
A
p
p
r
o
v
a
l
:
:
A
P
P
R
O
V
A
L
_
N
A
M
E
S
_
B
Y
_
K
E
Y
[
f
i
r
s
t
_
r
e
s
p
o
n
d
e
r
.
a
p
p
r
o
v
a
l
_
s
t
a
t
u
s
]
.
t
o
_
s
y
m
;


a
p
p
r
o
v
a
l
S
t
a
t
u
s
 
=
 
f
i
r
s
t
R
e
s
p
o
n
d
e
r
A
p
p
r
o
v
a
l
S
t
a
t
u
s
.
e
q
l
?
(
:
a
p
p
r
o
v
e
d
)
 
?
 
(
a
p
p
r
o
v
a
l
T
y
p
e
.
e
q
l
?
(
:
m
a
j
o
r
i
t
y
)
 
?
 
'
a
p
p
r
o
v
e
d
_
b
y
_
m
a
j
o
r
i
t
y
'
 
:
 
'
a
l
r
e
a
d
y
_
a
p
p
r
o
v
e
d
'
)
 
:
 
(
a
p
p
r
o
v
a
l
T
y
p
e
.
e
q
l
?
(
:
m
a
j
o
r
i
t
y
)
 
?
 
'
r
e
j
e
c
t
e
d
_
b
y
_
m
a
j
o
r
i
t
y
'
 
:
 
'
a
l
r
e
a
d
y
_
r
e
j
e
c
t
e
d
'
)
;


e
n
d
;


e
n
d
 
%
>
        response_time = formated_date(first_responder.updated_at)
        approval_stat_time = I18n.t("itil.ticket.approvals.#{approvalStatus}", user: first_responder.member, response_time: response_time)
    elsif
        approvalStatus = Itil::Approval::APPROVAL_NAMES_BY_KEY[approval.approval_status]
        approval_stat_time = approval.updated_at.strftime("#{I18n.t('itil.approvals.'+approvalStatus.to_s+'_on')}: #{datetime_format}")
    end
%>

<div class="<%= "approver-#{approvalStatus}" %>">
    <div class="approver <%= approvalStatus %>">
        <% member = approval.member %>
        <div class="avatar-image">
            <%= profile_image(get_user_profile(approval.member), '', '40px', '40px') %>
        </div>
        <div>
            <strong class="name"><%= member.name %></strong>
            <p class="requested-on"><%= approval_stat_time %></p>
        </div>
    </div>
    <%if approval.remark && approval.remark[0] && !approval.remark[0][1].blank? %>
        <p class="remark <%=approvalStatus%>">
            <%
                visible_remark = approval.remark[0][1][0..100]
                hidden_remark = approval.remark[0][1][101..] if approval.remark[0][1].size > 100
            %>
            <span class="short"><%= visible_remark %></span><% if hidden_remark %><span class="dot">...</span><span class="long hide"><%= hidden_remark %></span>
                <a href="#" class="read-more">
                    <%= t("portal.read_more") %>
                </a>
            <% end %>
        </p>
    <% end %>
</div>