<%
    datetime_format = current_account.date_type(:short_day_with_time)
    if approval.approval_status == Itil::Approval::APPROVAL_KEYS_BY_TOKEN[:peer_responded]
        approvalType = Itil::Approval::APPROVAL_TYPE_NAMES_BY_KEY[approval.approval_type].to_sym
        firstResponderApprovalStatus = Itil::Approval::APPROVAL_NAMES_BY_KEY[first_responder.approval_status].to_sym
        if firstResponderApprovalStatus.eql?(:approved)
            approvalStatus = approvalType.eql?(:majority) ? 'approved_by_majority' : 'already_approved'
        elsif
            approvalStatus = approvalType.eql?(:majority) ? 'rejected_by_majority' : 'already_rejected'
        end
        response_time = formated_date(first_responder.updated_at)
        approval_stat_time = I18n.t("itil.ticket.approvals.#{approvalStatus}", user: first_responder.member, response_time: response_time)
    elsif
        approvalStatus = Itil::Approval::APPROVAL_NAMES_BY_KEY[approval.approval_status]
        approval_stat_time = approval.updated_at.strftime("#{I18n.t('itil.approvals.'+approvalStatus.to_s+'_on')}: #{datetime_format}")
    end
%>

<div class="<%= "approver-#{approvalStatus}" %>">
    <div class="approver <%= approvalStatus %>">
        <% member = approval.member %>
        <div class="avatar-image">
            <%= profile_image(get_user_profile(approval.member), '', '40px', '40px') %>
        </div>
        <div>
            <strong class="name"><%= member.name %></strong>
            <p class="requested-on"><%= approval_stat_time %></p>
        </div>
    </div>
    <%if approval.remark && approval.remark[0] && !approval.remark[0][1].blank? %>
        <p class="remark <%=approvalStatus%>">
            <%
                visible_remark = approval.remark[0][1][0..100]
                hidden_remark = approval.remark[0][1][101..] if approval.remark[0][1].size > 100
            %>
            <span class="short"><%= visible_remark %></span><% if hidden_remark %><span class="dot">...</span><span class="long hide"><%= hidden_remark %></span>
                <a href="#" class="read-more">
                    <%= t("portal.read_more") %>
                </a>
            <% end %>
        </p>
    <% end %>
</div>